
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    .navbar {
       
    }

}


@media only screen and (max-width: 480px) {
    body {
        font-size: 12px; 
    }

    .navbar {
        
        text-align: center;
    }

    
}



.navbar {
    background-color: black;
    overflow: hidden; 
    padding: 15px;
}
.navbar .name {
    padding: 15px;
    position: absolute;
    left: 15%;
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.navbar a:hover {
    color: #555;
   

}
.pic{
    height: 500px;
    width: 100%;
    
}
.info{
color: white;
position: absolute;
top: 10%;
right: 26%;
left: 23%;
}
#name1{
font-size: 65px;
font-family:'Montserrat', 'sans-serif' ;

}
#info2{
font-size: 30px;
font-family: 'Montserrat', 'sans-serif';
}
#image{
    padding: 160px 160px;
/* background-color: rgb(237, 237, 237); */
}
#service{
padding: 300px 300px;
background-color: rgb(237, 237, 237);
}
#Portfolio{
padding: 210px 500px;
background-color: rgb(241, 239, 239);
}
#experience{
padding: 399px 300px;
background-color: rgb(237, 237, 237);
}
#about{
/* border: 2px solid bla
ck; */
padding: 320px 300px;
background-color: rgb(241, 239, 239);

}
#cont{
    position: absolute;
    top: 200%;
}
#contact{
/* border: 2px solid black; */
padding: 50px 300px;
/* background-color: #cbc8c8; */
text-align: center;
}
#foot{
/* border: 2px solid black; */
padding: 7px 300px;
/* background-color: rgb(0, 0, 0); */
}
#ser{
position: absolute;
top:45%;
left: 45%;
font-size: 35px;
text-decoration: overline;
}
#para{
font-size: 20px;
position: absolute;
top: 50%;
left: 4%;
color: rgb(134, 134, 134);
/* min-width: fit-content; */

}
#box1{
border: 2px solid black;
position: absolute;
top: 60%;
left: 5%;
height: 330px;
width: 27%;


}

#box2{
border: 2px solid black;
position: absolute;
top: 60%;
left: 35%;
height: 330px;
width: 27%;


}
#box3{
border: 2px solid black;
position: absolute;
top: 60%;
left: 65%;
height: 330px;
width: 27%;


}
.b{
text-align: center;
text-decoration: overline;
}

.b1{
text-align: center;
font-size: 15px;
color:rgb(134, 134, 134) ;
}
#port{
position: absolute;
top: 80%;
left: 45%;
font-size: 35px;
text-decoration: overline;
}
#port1{
font-size: 20px;
position: absolute;
top: 86%;
left: 18%;
color: rgb(134, 134, 134);
text-align: center;
}
#p1{
border: 2px solid black;
height: 210px;
width: 20%;
position: absolute;
top: 90%;
left: 10%;
text-align: center;

}
#p1:hover,#p2:hover, #p3:hover, #p4:hover, #p5:hover, #p6:hover{
border: 3px solid rgb(40, 39, 67);
cursor: pointer;
}
#p4{
border: 2px solid black;
height: 110px;
width: 20%;
text-align: center;

position: absolute;
top: 103%;
left: 10%;
}
#p2{
border: 2px solid black;
height: 210px;
width: 20%;
position: absolute;
top: 90%;
text-align: center;

left: 40%;
}
#p5{
border: 2px solid black;
height: 210px;
width: 20%;
position: absolute;
text-align: center;

top: 103%;
left: 40%;
}
#p3{
border: 2px solid black;
height: 210px;
width: 20%;
position: absolute;
top: 90%;
left: 70%;
text-align: center;

}
#p6{
border: 2px solid black;
height: 210px;
width: 20%;
position: absolute;
top: 103%;
left: 70%;
text-align: center;

}
#exper{
position: absolute;
top: 115%;
left: 42%;
font-size: 35px;
text-decoration: overline;
}
#abo{
position: absolute;
top: 160%;
left: 45%;
font-size: 35px;
text-decoration: overline;
}
#boxex1{
border: 2px solid rgb(101, 101, 101);
height: 130px;
width: 80%;
position: absolute;
top: 120%;
left: 10%;
text-align: center;
background-color: rgb(101, 101, 101);
color: white;
}
#boxex2{
border: 2px solid gray;
height: 130px;
width: 80%;
position: absolute;
top: 130%;
left: 10%;
text-align: center;
background-color: gray;
color: white;
}
#boxex3{
border: 2px solid rgb(161, 161, 161);;
height: 130px;
width: 80%;
position: absolute;
top: 140%;
left: 10%;
text-align: center;
background-color: rgb(161, 161, 161);
color: white;
}
#boxex4{
border: 2px solid rgb(161, 161, 161);;
height: 130px;
width: 80%;
position: absolute;
top: 150%;
left: 10%;
text-align: center;
background-color: rgb(161, 161, 161);
color: white;
}
#img2{
border-radius: 50%;
position: absolute;
top: 167%;
left: 14%;
height: 490px;
width: 35%;
}
.ab{
/* border: 2px solid black; */
position: absolute;
top: 167%;
left: 55%;
height: 500px;
width: 42%;
font-size: 20px;
}
#fo{
    position: absolute;
    top: 210%;
color: rgb(0, 0, 0);
text-align: center;
background-color: #cbc8c8;;
}
#p1p{
border: 1px solid #555;
background-color: #555;
color: white;
}
